on init
    chown system system /sys/class/android_usb/android0/enable
    chmod 0660 /sys/class/android_usb/android0/enable
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0660 /sys/class/android_usb/android0/idVendor
    chown system system /sys/class/android_usb/android0/idProduct
    chmod 0660 /sys/class/android_usb/android0/idProduct
    chown system system /sys/class/android_usb/android0/f_diag/clients
    chmod 0660 /sys/class/android_usb/android0/f_diag/clients
    chown system system /sys/class/android_usb/android0/functions
    chmod 0660 /sys/class/android_usb/android0/functions
    chown system system /sys/class/android_usb/android0/bDeviceClass
    chmod 0660 /sys/class/android_usb/android0/bDeviceClass

on fs
    mount configfs none /sys/kernel/config
    mkdir /sys/kernel/config/usb_gadget/g1 0770 system system
    mkdir /sys/kernel/config/usb_gadget/g1/strings/0x409 0770 system system
    mkdir /sys/kernel/config/usb_gadget/g1/configs/b.1 0770 system system
    mkdir /sys/kernel/config/usb_gadget/g1/configs/b.1/strings/0x409 0770 system system
    mkdir /sys/kernel/config/usb_gadget/g1/functions/mtp.0
    mkdir /sys/kernel/config/usb_gadget/g1/functions/acm.0
    mkdir /sys/kernel/config/usb_gadget/g1/functions/ffs.adb 0770 system system

    mkdir /dev/usb-ffs 0770 shell shell

    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb noatime uid=2000,gid=2000,no_disconnect=1

    write /sys/kernel/config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/manufacturer "SAMSUNG"
    write /sys/kernel/config/usb_gadget/g1/strings/0x409/product "SAMSUNG_Android"
    write /sys/kernel/config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "Conf 1"
    write /sys/kernel/config/usb_gadget/g1/configs/b.1/MaxPower 0x3f

    symlink /sys/kernel/config/usb_gadget/g1/functions/mtp.0 /sys/kernel/config/usb_gadget/g1/configs/b.1/mtp.0
    symlink /sys/kernel/config/usb_gadget/g1/functions/acm.0 /sys/kernel/config/usb_gadget/g1/configs/b.1/acm.0
    symlink /sys/kernel/config/usb_gadget/g1/functions/ffs.adb /sys/kernel/config/usb_gadget/g1/configs/b.1/ffs.adb

    setprop sys.usb.configfs 1

on property:sys.usb.config=none && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/kernel/config/usb_gadget/g1/idVendor 0x04e8
    write /sys/kernel/config/usb_gadget/g1/idProduct 0x6860
    write /sys/class/android_usb/android0/functions mtp,acm,adb
    write /sys/kernel/config/usb_gadget/g1/bDeviceClass 0
    write /sys/kernel/config/usb_gadget/g1/UDC "10c00000.dwc3"
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
    start adbd

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/kernel/config/usb_gadget/g1/idVendor 0x04e8
    write /sys/kernel/config/usb_gadget/g1/idProduct 0x685d
    write /sys/class/android_usb/android0/functions acm,adb
    write /sys/kernel/config/usb_gadget/g1/bDeviceClass 0
    write /sys/kernel/config/usb_gadget/g1/UDC "10c00000.dwc3"
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
    start adbd
