on init
    # FIXME: Set avb_version to be able to flash LineageOS 17.1
    setprop ro.boot.vbmeta.avb_version 1.1

    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

    write /proc/sys/kernel/hung_task_timeout_secs 0

on fs
    export ANDROID_ROOT /system_root

    mkdir /mnt/vendor 0770 root system
    mkdir /mnt/vendor/efs 0770 root system

    # Get some teegris logging
    write /sys/module/tzdev/parameters/tzdev_verbosity 1

on post-fs
    mkdir /dev/socket/iwt 0770 system system
    mkdir /dev/socket/iwt/ca 0770 system system
